#image-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#image-list li {
    margin: 10px 20px 10px 0px;
    float: left;
    position: relative;
}
#image-list li a {
    position: absolute;
    color:red;
    top: 1px;
    right: 3px;
}
#image-list li  {
    width: 250px;
    height: 160px;
    overflow: hidden;
    text-align: center;
    vertical-align: center;
    line-height: 100%;
    border: 1px solid #418bca;
}
#image-list li img {
    max-height: 160px;
    padding: 5px;
    overflow: hidden;
}
.m-left5 {
    margin-left: 5px;
}
.loading {
    margin: 5px;
    padding: 0 10px;
    font-weight: bold;
}
