/* Importing font */
@import url('https://fonts.googleapis.com/css?family=Podkova:400,700|Titillium+Web|Varela+Round&subset=latin-ext');

/* Variabiles */
$main-font: 'Podkova', serif;
$second-font: 'Varela Round', sans-serif;
$third-font: 'Titillium Web', sans-serif;
$main-color: #505050;
$grey: #E5E5E5;
$yellow: #ffd387;
$white: #fff;

/* --- main styles --- */
body {
    background-color: $white;
    color: $main-color;
    font-family: $main-font;
    line-height: 21px;
}

#box-content {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}


/* --- MAIN MENU --- */
.navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding: 30px 0;
    margin: 0;
    font-size: 14px;
    color: $main-color;
    text-transform: uppercase;
    font-family: $second-font;
    z-index: 3;

    .container {
        max-width: 500px;
    }

    &-nav {
        width: 100%;
        justify-content: space-between;
        
        .nav-item {
            
            a {
                color: inherit;
                margin: 0;
                position: relative;
                opacity: .7;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 6px;
                    left: 8px;
                    right: 8px;
                    height: 1px;
                    background-color: $main-color;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: all .3s ease-in-out;
                }

                &:hover {
                    &::before {
                        transform: scaleX(1);
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }

    // the logo
    &-brand {
        width: 91px;
        height: 61px;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -45px;
        margin-top: -30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


/* --- presentation --- */
.hero-presentation {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;

    .container {
        height: 75%;
        min-height: 620px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    h1 {
        line-height: 1;
        margin-bottom: 0;
    }

    &__first-intro {
        font-size: 4vw;
        font-weight: 700;
        margin-top: 75px;
    }
    &__second-intro {
        font-size: 7vw;
        font-weight: 400;
    }
}

// presentation parallax images
.hero-presentation__parallax-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        position: absolute;
        object-fit: contain;

        // left
        &.top-blue-heart {
            width: 136px;
            height: 118px;
            top: 10%;
            left: 10%;
        }
        &.top-two-ballons{
            width: 270px;
            height: 260px;
            top: 25%;
            left: 2.5%;
        }
        &.blue-box {
            width: 155px;
            height: 155px;
            top: 55%;
            left: 13%;
            object-fit: cover;
            transform: rotate(-80deg);
        }
        &.bouquet {
            width: 137px;
            height: 205px;
            object-fit: cover;
            top: 75%;
            left: 9%;
        }
        &.small-heart {
            width: 17px;
            height: 17px;
            top: 85%;
            left: 22%;
        }

        // right
        &.ballons-right {
            width: 95px;
            height: 93px;
            top: 10%;
            right: 10%;
        }
        &.heart_small-right {
            width: 25px;
            height: 25px;
            top: 24%;
            right: 22%;
        }
        &.present-right {
            width: 114px;
            height: 120px;
            top: 27.5%;
            right: 12%;
        }
        &.flowers-right {
            width: 310px;
            height: 300px;
            top: 43%;
            right: 5%;
        }
        &.box_blue-right {
            width: 220px;
            height: 218px;
            right: 12%;
            top: 73%;
            object-fit: cover;
        }
        &.heart_blue-right {
            width: 63px;
            height: 63px;
            right: 29%;
            top: 88%;
        }

    }
}

/* --- sections --- */
.boom-section {

    &__intro {
        font-weight: 400;
        font-size: 36px;
        color: $main-color;
        margin-bottom: 5px;

        span {color: $yellow;}
    }

    &__description {

        p {
            margin-bottom: 24px;
            opacity: .5;
            
            &:last-of-type {margin-bottom: 0;}
        }
    }

    &__order-list {
        margin: 20px 0 0 0;
        display: flex;
        justify-content: end;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                margin-right: 50px;
        
                span {
                    display: block;
                    font-size: 18px;
                    margin-top: 22px;
                }
            }

            img {
                width: 63px;
                height: 50px;
            }

            &:last-child {
                img {margin-top: 7px;}
            }
        }
    }  

    // cards
    &__card-row {
        padding: 60px 0;

        &__placeholder {
            height: 300px;
            color: $white;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 0 50px;

            h1 {
                margin-top: -65px;
                margin-bottom: 29px;
                font-family: $third-font;
                text-align: center;

                .woocommerce-Price-currencySymbol {text-transform: lowercase;}
            }

            &__nr {
                background-color: $white;
                color: rgba($main-color, .5);
                font-size: 18px;
                font-family: $second-font;
                padding: 10px 30px;
            }
        }

        .boom-section__card-title {
            color: #656565;
            margin-bottom: 11px;
            text-transform: uppercase;

            .highlight {color: #FFD387;}
        }
        .boom-section__card-description {
            color: rgba($main-color, .5);
            font-size: 16px;
            line-height: 21px;
            text-align: justify;
            margin-bottom: 0;

            p {margin-bottom: 29px;}

            .button {
                display: inline-block;
                color: $white;
                font-family: $second-font;
                font-size: 18px;
                text-transform: uppercase;
                background-size: 100%;
                height: 100px;
                background-repeat: no-repeat;
                padding: 12px 55px;
                background-position: center;
                text-decoration: none !important;
                transition: all .3s ease-in-out;

                &:hover {
                    filter: saturate(3);
                    transition: all .3s ease-in-out;
                }
            }

            .added_to_cart {
                @extend .button;
                padding-top: 17px;
                position: relative;
                z-index: 9;
            }
        }

        // buttons bg
        &.blue {
            .button {
                background-image: url('../images/1_12.png');
                margin-left: -35px;
            }
        }
        &.silver {
            .button {
                background-image: url('../images/1_13.png');
                margin-left: -35px;

                &:hover {
                    filter: sepia(1) saturate(3) grayscale(.8);
                    transition: all .3s ease-in-out;
                }
            }
        }
        &.gold {
            .button {
                background-image: url('../images/1_14.png');
                margin-left: -35px;
            }
        }
    }

    // services
    &__services {
        background-image: url('../images/bottom-heart.png');
        background-position: 90% 93%;
        background-size: 60px;
        background-repeat: no-repeat;
        padding-bottom: 40px;

        .boom-section__intro {margin-bottom: 25px;}

        .big-butterfly {
            margin-left: -30px;
            max-width: 100%;
        }

        .section-services__product {
            position: relative;
            overflow: hidden;
            margin-bottom: 18px;

            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;

                &.added_to_cart {
                    opacity: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-size: 20px;
                    text-shadow: 0 6px 5px #333;
                }
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                transition: all .3s ease-in-out;
            }

            &:hover {
                img {
                    transition: all .3s ease-in-out;
                    transform: scale(1.1);
                }
            }
        }
    }
}
.section-about-delivery {margin-bottom: 100px;}
.section-about {
    .row {
        background-position: right center;
        background-size: 10%;
        background-repeat: no-repeat;
    }
}

// images from page
.section-cards {
    position: relative;

    .leaf-right {
        position: absolute;
        right: 0;
        top: -300px;
        animation-name: float;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        z-index: -1;
    }

    .leaf-right-gold {
        position: absolute;
        left: 0;
        bottom: -30%;
        max-width: 500px;
        animation-name: float;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        z-index: -1;
    }
}

.section-order {
    position: relative;

    .leaf-left {
        position: absolute;
        left: 0;
        top: -110px;
        animation-name: float;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        z-index: -1;
    }
}


// footer
.boom-footer {
    background-color: #F3F3F3;
    clear: both;
    padding: 20px 0;

    a {
        display: inline-block;
        width: 28px;
        height: 28px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &.boom-footer_insta {background-image: url('../images/insta.png');}
        &.boom-footer_fb {background-image: url('../images/fb.png');}
    }
}

// preloader
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: $white;

    .the-logo {
        width: 91px;
        height: 61px;
        object-fit: contain;

        animation-name: float;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }
}

// checkout page
.woocommerce-checkout {
    main {padding-top: 97px;}

    .leaf-left,
    .leaf-right {
        position: absolute;
        z-index: -1;
        animation-name: float;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }

    .leaf-left {
        max-width: 350px;
        top: 40%;
        left: 0;
    }
    .leaf-right {
        right: 0;
        top: 0;
    }
    .balloons-left,
    .flowers-right {
        position: absolute;
        z-index: -1;
    }
    .balloons-left {
        left: 0;
        top: 10%;
        max-width: 300px;
    }
    .flowers-right {
        right: 0;
        bottom: 0;
        max-width: 150px;
        margin: 0 5% 10% 0;
    }


    // cart
    .woocommerce-cart-form {
        border: 1px solid #505050;
        padding: 30px 35px 50px;
        margin-bottom: 30px;

        .cart__tilte {
            color: #656565;
            border-bottom: 1px solid #505050;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0px;
            padding-bottom: 20px;
            padding-left: 60px;

            span {
                color: #FFD387;;
            }
        }

        .shop_table {

            thead {
                width: 100%;
                font-size: 16px;
                color: $main-color;
                line-height: 21px;
                border-bottom: 1px solid #505050;
                
                
                th {
                    padding-bottom: 15px;
                    padding-top: 34px;
                }
            }

            .cart_item {
                border-bottom: 1px solid #505050;

                td {
                    padding-top: 30px;
                    padding-bottom: 40px;
                }
            }

            .product-remove {
                padding: 0 20px;

                .remove {
                    width: 20px;
                    height: 20px;
                    background-image: url('../images/trash.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    text-indent: -99999px;
                }
            }
            .product-thumbnail {
                padding-right: 30px;

                img {
                    width: 170px;
                    height: 140px;
                    object-fit: contain;
                }

                // disable link
                a {pointer-events: none;}
            }

            .product-name {
                padding-right: 30px;
                min-width: 100%;

                a {
                    color: $main-color;
                    font-size: 16px;
                    line-height: 21px;
                    opacity: .5;
                    pointer-events: none;
                }
            }

            .product-price {
                padding-right: 100px;
                color: $main-color;
                font-size: 16px;
                line-height: 21px;
                opacity: .5;

            }
            .product-quantity {
                padding-right: 70px;


                .quantity__title {display: none;}

                .buttons_added {
                    display: flex;
                    align-items: center;

                    .minus,
                    .plus {
                        position: static;
                        background-color: transparent;
                        border: none;
                        border-radius: 0;
                        outline: none;
                        font-size: 16px;
                        color: #000;
                    }
                    
                    .qty {
                        width: 24px;
                        height: 24px;
                        border: 0.25px solid #505050;
                        box-sizing: border-box;
                        border-radius: 0;
                        text-align: center;
                        font-size: 16px;
                        color: #000;
                        line-height: 21px;
                    }
                }
            } 

            .product-subtotal {
                padding-right: 70px;
            }
        }
    }

    .woocommerce-message {
        width: 100%;
        padding: 5px 30px;
        text-align: center;
        background-color: $yellow;
        font-family: $second-font;
    }

    // shipping
    .woocommerce-billing-fields > h1 {display: none;}
    .woocommerce-billing-fields__field-wrapper {
        border: 1px solid #505050;
        padding: 30px 35px 50px;
        display: inline-block;
        margin-bottom: 20px;
        

        h1 {
            color: #656565;
            border-bottom: 1px solid #505050;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0px;
            padding-bottom: 15px;

            span {
                color: #FFD387;;
            }
        }

        .form-row {
            width: calc(52% - 20px);
            height: 40px;
            float: left;
            margin: 0 0 20px;

            background-color: #ebebeb;
            border: none;
            border-radius: 0;

            &#billing_country_field {
                width: 100%;
                margin-top: 20px;
            }

            &#billing_city_field {margin-right: 20px;}
            &#billing_postcode_field {margin-bottom: 0;}

            .woocommerce-input-wrapper {
                display: block;
                width: 100%;
                height: 100%;

                input {
                    padding: 12px;
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: transparent;
                }

                strong {
                    padding: 10px 12px;
                    display: inline-block;
                }
            }

            .select2-container .select2-selection--single {
                height: 40px;
                margin: 0;
                border-radius: 0;
                border: none;
                background-color: transparent;

                .select2-selection__rendered {
                    line-height: 40px;
                    padding: 0 12px;
                }
                .select2-selection__arrow {
                    top: 8px;
                    right: 5px;
                }
            }
        }
    }

    // order review
    .woocommerce-checkout__review {
        border: 1px solid #505050;
        padding: 30px 35px 50px;

        h1 {
            color: #656565;
            border-bottom: 1px solid #505050;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0px;
            padding-bottom: 15px;

            span {
                color: #FFD387;;
            }
        }

        .woocommerce-checkout-review-order-table {
            width: 100%;
            margin-top: 20px;

            thead, tbody {display: none;}

            tfoot {
                line-height: 21px;
                font-size: 16px;
                color: rgba($main-color, .5);
                
                th, td {
                    padding-top: 34px;
                }

                td {
                    text-align: right;
                }

                .woocommerce-shipping-methods {
                    margin-bottom: 0;
                    list-style-type: none;
                }

                .woocommerce-shipping-totals {
                    th, td {padding-bottom: 34px;}
                }

                .order-total {
                    border-top: 1px solid #505050;
                }
            }
        }

        .woocommerce-checkout-payment {
            border-top: 1px solid #505050;
            margin-top: 32px;

            ul {
                margin: 0;
                padding: 34px 0 0 0;
                list-style-type: none;
                line-height: 21px;
                font-size: 16px;
                color: rgba($main-color, .5);
            }
            
            .place-order {
                justify-content: flex-end;

                .button {
                    background: #FFD686;
                    border-radius: 5px;
                    border: none;
                    color: $white;
                    line-height: 21px;
                    padding: 11px 25px;
                    cursor: pointer;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: $main-color;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }

    .woocommerce-form-coupon-toggle {
        border: 1px solid #505050;
        padding: 30px 35px 50px;
        display: inline-block;
        width: 100%;
        max-width: 560px;
        float: left;
        margin-top: -207px;
        margin-left: -10px;
        margin-bottom: 90px;
        position: relative;
        z-index: 1;
        

        h1 {
            color: #656565;
            border-bottom: 1px solid #505050;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0 0 20px;
            padding-bottom: 15px;

            span {
                color: #FFD387;;
            }
        }

        .form-row-first {
            height: 40px;
            float: left;
            margin: 0;

            input {
                height: 40px;
                min-width: 260px;
                background: #EBEBEB;
                border: none;
                padding: 11px 12px;
            }
        }

        .form-row-last {
            float: right;
            margin: 0;

            .button {
                background: #FFD686;
                border-radius: 5px;
                border: none;
                color: $white;
                line-height: 21px;
                padding: 10px 25px;
                cursor: pointer;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: $main-color;
                    transition: all .3s ease-in-out;
                }   
            }
        }

        .woocommerce-message {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.woocommerce-order-finish {
    padding-top: 60px;
    min-height: calc(100vh - 170px);

    .container {
        padding: 30px 40px;
        border: 1px solid #505050;
    }

    .woocommerce-thankyou-order-received {
        font-size: 36px;
        text-align: center;
        font-family: $third-font;
        color: $main-color;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #505050;
    }

    .woocommerce-order-overview {
        margin: 0 0 30px;
        padding: 0;
        list-style-type: none;
    }
}


.checkout_coupon.woocommerce-form-coupon {
    display: block !important;
}



// -- ANIMATION -- //
@-webkit-keyframes floatShadow {
	0% {
		-webkit-box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		-webkit-box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		-webkit-box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
@keyframes floatShadow {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@-webkit-keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}



// --- RESPONSIVE --- //
/*=============================================
=            RESPONSIVE STYLES                =
=============================================*/

@media only screen and (max-width: 1440px) { 

    .hero-presentation__parallax-elements img.top-two-ballons {left: 0;}
    .hero-presentation__parallax-elements img.blue-box {left: 5%;}
    .hero-presentation__parallax-elements img.present-right {right: 8%;}
    .hero-presentation__parallax-elements img.flowers-right {
        width: 200px;
        height: 190px;
        top: 47%;
        right: 5%;
    }
    .hero-presentation__parallax-elements img.box_blue-right {right: 5%;}
}

@media only screen and (max-width: 1340px) { 

    .hero-presentation__parallax-elements img.top-two-ballons {
        width: 200px;
        height: 160px;
    }
    .hero-presentation__parallax-elements img.blue-box {left: 0;}
    .hero-presentation__parallax-elements img.flowers-right {right: 0;}
    .hero-presentation__parallax-elements img.present-right {right: 4%;}
}


@media only screen and (max-width: 1240px) {
    .hero-presentation__parallax-elements {display: none;}
    

    .slick-slide {
        .col-md-3 {max-width: 100%;}
    }

    .woocommerce-checkout .woocommerce-form-coupon-toggle {
        margin-top: 20px;
        max-width: 100%;
        margin-left: 0;
    }
}


@media only screen and (max-width: 960px) {

    .woocommerce-checkout .balloons-left,
    .woocommerce-checkout .leaf-left,
    .woocommerce-checkout .flowers-right,
    .woocommerce-checkout .leaf-right {display: none;}

    .navbar-toggler {
        border-radius: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow: hidden;
        outline: none !important;
        width: 35px;
        height: 30px;
    }
    .navbar-toggler span {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 2px;
        background-color: $main-color;
        transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .navbar-toggler.collapsed span:nth-of-type(2) {
        margin: 10px 0px;
        transform: translateX(0);
    }
    .navbar-toggler.collapsed span:first-of-type {
        transform: rotate(0);
        top: 0;
    }
    .navbar-toggler.collapsed span:nth-of-type(3) {
        transform: rotate(0);
        top: 0;
    }
    .navbar-toggler span:first-of-type {
        transform: rotate(45deg);
        top: 14px;
    }
    .navbar-toggler span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: -10px;
    }
    .navbar-toggler span:nth-of-type(2) {
        transform: translateX(-100px);
        margin: 10px 0;
    }

}

@media only screen and (max-width: 800px) {

    .section-about {margin-bottom: 60px;}
    .boom-section__intro {font-size: 34px;}
    .boom-section__order-list li:not(:last-child) {margin-right: 10px;}

    .section-order  {margin-bottom: 60px;}
    .section-order .leaf-left {width: 200px;}
    .section-cards .leaf-right {width: 380px;}

    .boom-section__card-row__placeholder h1 {
        margin-top: -35px;
        font-size: 20px;
    }
    .boom-section__card-row__placeholder__nr {font-size: 9px;}

    
}


@media only screen and (max-width: 416px) {

    .col-md-6.text-right {text-align: left !important;}


    .navbar-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }
    .navbar-brand {
        position: relative;
        margin: 0;
        transform: translateX(-50%);
    }

    .navbar-collapse {
        background-color: $white;
        padding: 20px 0;
        text-align: center;
    }

    .section-about .row {background-image: none !important;}
    .hero-presentation {height: 78vh;}
    .hero-presentation__first-intro {
        margin-top: 40px;
        font-size: 7.3vw;
    }
    .hero-presentation__second-intro {font-size: 12vw;}

    .boom-section .col-md-5 .img-fluid {
        max-height: 250px;
        object-fit: contain;
        display: block;
        margin: 0 auto 15px;
    }
    .boom-section {padding: 0 20px;}
    .boom-section__intro {font-size: 32px;}

    .boom-section.section-order .row {flex-direction: column-reverse;}
    .boom-section__order-list {
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            flex: 0 0 50%;
            min-width: 50%;
            margin-right: 0 !important;
            margin-bottom: 15px;
        }
    }
    .section-cards .leaf-right {
        width: 200px;
        top: -170px;
    }
    .boom-section__card-row {padding-bottom: 0;}

    .boom-section__services .section-services__product a {
        opacity: 1;
        display: flex;
        align-items: end;
        justify-content: center;
        padding-bottom: 20px;
        color: $white;
        text-shadow: 0 4px 10px $main-color;
    }
    .boom-section__card-row__placeholder {height: 230px;}
    .boom-section__card-row__placeholder__nr {font-size: 10px}
    .boom-section__card-description {margin-bottom: -60px !important;}

    .section-about-delivery {margin-bottom: 0;}
    .section-cards .leaf-right-gold {display: none;}

    .boom-section__services .big-butterfly {
        max-height: 220px;
        display: block;
        margin: 60px auto 20px;
    }

    .woocommerce-checkout .woocommerce-cart-form .cart__tilte {padding-left: 0;}

    .table-responsive {
        display: flex;
        align-items: center;
        justify-content: center;

        tbody {
            width: 100%;
        }
    }
    .product-thumbnail::before {display: none;}
    .woocommerce-checkout .woocommerce-cart-form .shop_table .cart_item td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    } 
    .woocommerce-checkout .woocommerce-cart-form .shop_table .cart_item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .product-remove,
    .product-thumbnail {justify-content: center !important;}
    .product-remove {padding-top: 30px !important; }
    .product-subtotal {padding-bottom: 30px !important;}
    .woocommerce-checkout .woocommerce-cart-form .shop_table .product-quantity .buttons_added {
        margin: 0;
        padding: 0;
    }
    .woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row {
        width: 100%;
        float: none;
        margin-right: 0;
    }
    .woocommerce-checkout .woocommerce-form-coupon-toggle .form-row-first,
    .woocommerce-checkout .woocommerce-form-coupon-toggle .form-row-last {
        float: none;
        width: 100%;
    }
    .woocommerce-checkout .woocommerce-form-coupon-toggle .form-row-first input {width: 100%;}
    .woocommerce-checkout .woocommerce-checkout__review .woocommerce-checkout-payment .place-order .button,
    .woocommerce-checkout .woocommerce-form-coupon-toggle .form-row-last .button {
        width: 100%;
        margin-top: 20px;
    }


    .woocommerce-order-finish .woocommerce-thankyou-order-received {line-height: 36px; }
    .woocommerce-order-details {margin-bottom: 20px;}
}