.view.view--princess-1::after{
    content: '';
}
.view.view--princess-2::after{
    content: '';
}
.view.view--princess-3::after{
    content: '';
}
.view.view--princess-4::after{
    content: '';
}
.help-block{
    color: #EF6F6C !important;
}
.form-group .help-block {
    position: absolute;
    display: block;
}
.mtop20 {
    margin-top: 20px;
}
/*pagination*/
.pagination li.active a{
    position: relative;
    padding-right: 36px;
    opacity: 1;
    cursor: default;
}
.pagination li.active a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 30px;
    height: 1px;
    background-color: #000;
}
/*product list*/
.products-card-like_active {
    background: #fff url('/assets/img/home/card-like-fill.svg') no-repeat center;
}
.home__card-like_active {
    background: #fff url('/assets/img/home/card-like-fill.svg') no-repeat center;
}
.home__popular-card-like_active {
    background: #fff url('/assets/img/home/card-like-fill.svg') no-repeat center;
}
.account-5__card-unlike {
    background: #fff url('/assets/img/home/card-like.svg') no-repeat center;
}
/*buy the look list*/
.add_to_cart_buy_the_look {
    margin-bottom: 50px;
}
/*cart*/
.ch_label_radio_look.active {
    border: 1px solid #000;
}
.registration-form__checkbox-wrap label.error::before {
    border: 1px solid red;
}
.registration-form__checkbox-wrap label.error {
    color: red;
}
.registration-form__item.error {
    border-bottom: 1px solid red;
}
.hidden {
    display: none;
}
.ch_label_radio_look.active {
    border: 1px solid #000;
}
.cart-card__wishlist-btn span{
    font-size: 12px;
}
/*from feedback*/
.alert-success {
    color: green;
}
/*products*/
.products-nav a.active {
    border-bottom: none;
}
/*detail pages*/
.detail-wrapper {
    margin-bottom: 25px;
}
/*hedear menu*/
.header__nav {
    width: 700px;
}
@media (max-width: 767.98px) {
    .header__nav {
        width: auto;
    }
    .footer__title {
        margin-bottom: 20px;
    }
}